* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    padding-bottom: 5px;
}

p {
    line-height: 20px;
}