* {
    box-sizing: border-box;
}
.container{
    background-color: rgb(237, 212, 171);
    display: flex;
}
ul{
    display: flex;
}
ul li{
    padding: 15px;
    list-style-type: none;
}
body {font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    background-color: white;
    color: black;
    /* font-size: 25px; */
}
input{
    color: orange;
}
submit:hover{
    color: blue;
    background-color: pink;
    transition: (-50)(-50);
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  color: #7a3e22;
}

  
  .dark-mode {
    background-color: black;
    color: white;
  }
